{% extends "base.html" %}

{% block head_block %}
	<title>{{ new.title }}</title>
{% endblock head_block %}

{% block main_container %}

<div class="container">
	<h2 class="title-section">{{ new.title }}</h2>

	{% for paraf in new.body_as_list %}
	<p>{{ paraf }}</p>
	{% endfor %}

	{% if gallery %}
	<h3>Fotos</h3>
	<div class="row">
		{% for i in range %}
		<div class="col-md-3">
			<a data-fancybox="gallery" href="\media\img\news\gallery\{{ new.slug }}\{{ i }}.jpg">
				<img src="\media\img\news\gallery\{{ new.slug }}\{{ i }}.jpg" alt="" class="img-fluid img-gallery">
			</a>
		</div>
		{% endfor %}
	</div>
	{% endif %}
</div>

{% endblock main_container %}

{% block bottom_block %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
{% endblock bottom_block %}
