body {
	font-family: 'Open Sans';
}

header {
	background-color: rgb(156, 156, 156);
}

header h1 {
	margin: 0;
}

/* header */
nav.navbar .navbar-brand a{
	color: #fff;
}
nav.navbar .navbar-brand a:hover {
	text-decoration: none;
}

nav.navbar {
	margin-bottom: 15px;
}

@media (min-width:768px) {
	nav.navbar {
		flex-direction: column;
		padding: 0;
	}
	nav.navbar .navbar-brand {
		display: flex;
		align-items: flex-start;
		width: 100%;
		margin: 0;
	}
	nav.navbar .navbar-brand h1 {
		flex: 1;
		margin-top: 15px;
	}
	nav.navbar .navbar-brand img {
		height:80px;
	}
}
@media (min-width: 768px) and (max-width: 991px) { 
	nav.navbar .navbar-brand h1 {
		font-size: 1.75rem;
	}
	nav.navbar .navbar-brand img {
		height:70px;
	}
 }
@media (max-width:767px) {
	nav.navbar > container {
		border: 1px solid rgba(255, 255, 255, 0.9);
	}
	nav.navbar .navbar-brand {
		flex: 1;
		overflow: hidden;
	}
	nav.navbar .navbar-brand img {
		width:30px;
		height:30px;
	}
	nav.navbar .navbar-brand h1 {
		display: inline-flex;
		font-size: 1.25rem;
	}
}
@media (max-width: 575px) { 
	nav.navbar .navbar-brand h1 {
		font-size: 1rem;
	}
 }

@media (max-width: 991px) {
	#carouselHome {
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
	}
	nav.navbar {
		margin-bottom: 0;
	}
}

.news {
	margin-top: 16px;
}

.title-section,
.news h2 {
	border-bottom: 1px solid #9aa3ad;
	border-top: 1px solid #9aa3ad;
	padding-left: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.news .card {
	border: none;
	margin-bottom: 10px;
}

.news .card-img-top {
	height: 140px;
	object-fit: cover;
	border-bottom-left-radius: calc(.25rem - 1px);
	border-bottom-right-radius: calc(.25rem - 1px);
}

.news .card-body {
	padding: 0.5rem;
}

.home-side-nav {
	margin-top: 10px;
}

.home-side-nav > button > i {
	margin-top: 5px;
}

footer {
	font-size: 0.9rem !important;	
	padding-top: 16px;
	margin-top: 16px;
	color: #fff;
}

.carousel-caption {
	left: 0;
	right: 0;
}

.carousel-caption h3 {
	background-color: rgba(158, 160, 161, 0.75);
}

.carousel-caption h3 a,
.carousel-caption h3 a:hover {
	color: #fff !important;
	text-decoration: none;
}

.bg-grey {
	background-color: #727b84
}

.bg-grey-light {
	background-color: #898b8c;
}

.new-list {
	margin: 15px;
}

.new-list img {
	width: 100px;
	height: 100px;
	object-fit: cover;
}

.block-category {
	margin-top: 5px;
}